In [2]:
# Import dependencies
import pandas as pd
import os

In [4]:
file_path = ['trip_data/JC-201801-citibike-tripdata.csv',
        'trip_data/JC-201802-citibike-tripdata.csv',
        'trip_data/JC-201803-citibike-tripdata.csv',
        'trip_data/JC-201804-citibike-tripdata.csv',
        'trip_data/JC-201805-citibike-tripdata.csv',
        'trip_data/JC-201806-citibike-tripdata.csv']

In [5]:
citibike_df = pd.DataFrame()

In [6]:
# Loop through the list of files and concatonate all data to the dataframe
for file in file_path:
    data = pd.read_csv(file)
    citibike_df = pd.concat([citibike_df, data], axis=0, ignore_index=True)

In [7]:
citibike_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,932,2018-01-01 02:06:17.5410,2018-01-01 02:21:50.0270,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31929,Subscriber,1992,1
1,550,2018-01-01 12:06:18.0390,2018-01-01 12:15:28.4430,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31845,Subscriber,1969,2
2,510,2018-01-01 12:06:56.9780,2018-01-01 12:15:27.8100,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31708,Subscriber,1946,1
3,354,2018-01-01 14:53:10.1860,2018-01-01 14:59:05.0960,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,31697,Subscriber,1994,1
4,250,2018-01-01 17:34:30.1920,2018-01-01 17:38:40.9840,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,31861,Subscriber,1991,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143912,1227,2018-06-30 20:46:55.7500,2018-06-30 21:07:22.9730,3681,Grand St,40.715178,-74.037683,3209,Brunswick St,40.724176,-74.050656,29197,Subscriber,1979,2
143913,1219,2018-06-30 20:47:02.7610,2018-06-30 21:07:22.1720,3681,Grand St,40.715178,-74.037683,3209,Brunswick St,40.724176,-74.050656,33633,Customer,1969,0
143914,1227,2018-06-30 20:47:03.1250,2018-06-30 21:07:30.3560,3681,Grand St,40.715178,-74.037683,3209,Brunswick St,40.724176,-74.050656,26297,Subscriber,1987,2
143915,252,2018-06-30 21:13:35.6890,2018-06-30 21:17:48.5690,3681,Grand St,40.715178,-74.037683,3267,Morris Canal,40.712419,-74.038526,29482,Subscriber,1979,2
143916,652,2018-06-30 22:03:44.8150,2018-06-30 22:14:37.5310,3681,Grand St,40.715178,-74.037683,3199,Newport Pkwy,40.728745,-74.032108,29235,Subscriber,1982,1

In [8]:
# Check for missing values in each column
missing_values = citibike_df.isnull().sum()
print(missing_values)

tripduration               0
starttime                  0
stoptime                   0
start station id           0
start station name         0
start station latitude     0
start station longitude    0
end station id             0
end station name           0
end station latitude       0
end station longitude      0
bikeid                     0
usertype                   0
birth year                 0
gender                     0
dtype: int64

In [9]:
# Store the dataframe as CSV file
citibike_df.to_csv('trip_data/2018jc_data.csv', index=False)

In [10]:
citibike_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 143917 entries, 0 to 143916
Data columns (total 15 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   tripduration             143917 non-null  int64
 1   starttime                143917 non-null  object
 2   stoptime                 143917 non-null  object
 3   start station id         143917 non-null  int64
 4   start station name       143917 non-null  object
 5   start station latitude   143917 non-null  float64
 6   start station longitude  143917 non-null  float64
 7   end station id           143917 non-null  int64
 8   end station name         143917 non-null  object
 9   end station latitude     143917 non-null  float64
 10  end station longitude    143917 non-null  float64
 11  bikeid                   143917 non-null  int64
 12  usertype                 143917 non-null  object
 13  birth year               143917 non-null  int64
 14  gender                   143917 non-null  int64
dtypes: float64(4), int64(6), object(5)
memory usage: 16.5+ MB